.content-divider {
    background: #41ade5;
    color: #fff;
    position: relative;
    text-align: center;
    z-index: 1;
}

.content-divider:before,
.content-divider:after {
    background: inherit;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(-1.5deg);
    transform-origin: 100%;
    z-index: -1;
}

.content-divider:before {
    bottom: 20px;
}

.content-divider:after {
    bottom: 0;
}