:root {
    --fade-in-position: 40px;
}

.hidden-top {
    opacity: 0;
    transform: translate(0, calc(var(--fade-in-position)*-1));
}

.hidden-left {
    opacity: 0;
    transform: translate(calc(var(--fade-in-position)*-1), 0);
}

.hidden-right {
    opacity: 0;
    transform: translate(var(--fade-in-position), 0);
}

.hidden-bottom {
    opacity: 0;
    transform: translate(0, var(--fade-in-position));
}

.fade-in-visible {
    opacity: 1;
    transform: translate(0,0);
}