/***
This CSS file is for most of the styles on the page except for a few things that I put into
different sheets in order to compatmentalize.

STYLES IN DIFFERENT SHEETS
-fade.css
    Styles that focuse on transitioning text and elements based the location of the page

TABLE OF CONTENTS
1. Reset/default
    1.1 Scrollbar
2. Header
3. Content Containers
    3.1. Content-sections
    3.2. Content-dividers
4. Introduction
5. Projects
6. Languages
7. Skills
8. Work Experience
9. Education
10. Footer
***/

/*** 1. RESET AND DEFAULT VALUES ***/
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

main {
    overflow-x: hidden;
}

:root {
    --dark-grey: #333;
    --dark-grey-transparent-50: #33333377;
    --divider-offset: 50px;
    --blue: #00476b;
    --header-text: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--header-text);
}

.invisible {
    /* Make every applicable element hidden by default so that they can appear later */
    opacity: 0;
}

.blue-background {
    background-color: var(--blue);
}

.dark-grey-background {
    background-color: var(--dark-grey);
}

.content-section.centered {
    justify-content: center;
}

.resume {
    color: white;
    font-size: 1.5em;
}

/* 1.1 Scrollbar */
::-webkit-scrollbar {
    /* width */
    width: 15px;
}

::-webkit-scrollbar-track {
    /* Track */
    background-color: var(--blue);
}

::-webkit-scrollbar-thumb {
    /* Handle */
    background: var(--dark-grey);
}

::-webkit-scrollbar-thumb:hover {
    /* Handle on hover */
    background: grey;
}

/*** 2. HEADER ***/
header {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    /* align-items: center; */
    padding: 20px 0;
    background-color: var(--dark-grey);
    color: whitesmoke;
}

header h1 {
    font-size: 4em;
    font-weight: 100;
    margin: 0 0 0 75px;
    font-weight: bold;
}

/*** 3. CONTENT CONTAINERS ***/
/* 3.1 CONTENT SECTIONS */
.content-section {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: relative;
}

/* 3.2 CONTENT DIVIDERS */
.content-divider {
    background-color: var(--blue);
    color: #fff;
    position: relative;
    text-align: center;
    z-index: 1;
    padding: 20px 0;
}

.content-divider h2 {
    margin: 0;
}

/*** 4. INTRODUCTION ***/
#introduction>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

/*** 5. PROJECTS ***/
#projects {
    background-color: var(--blue);
}

.vertical-ribbon {
    height: 800px;
    margin: 0;
    transition: 1s;
    border: 1px solid black;
    overflow: hidden;
}

.vertical-ribbon video {
    display: block;
    margin: auto;
    height: 100%;
}

.content-description {
    height: 40%;
    background: linear-gradient(#00000000, #000);
    position: absolute;
    bottom: 0;
    width: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.content-description h3 {
    text-align: center;
}

.content-description p {
    margin: 20px;
}

.make-invisible {
    opacity: 0;
}

/*** 6. LANGUAGES ***/
.languages {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    width: 60%;
    margin: auto;
}

.languages p {
    margin: 0;
}

.languages h3 {
    margin: 0;
}

.content-column {
    width: 50%;
}

.tile-sm {
    height: 300px;
    background-color: lightblue;
}

.tile-lg {
    height: 600px;
    background-color: aquamarine;
}

/*** 7. SKILLS ***/
.circle {
    width: 160px;
    height: 160px;
}
.circle-foreground {
    stroke: var(--blue);
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
}
/* The container for the circles, percent, and description */
.skill-container {
    margin: 20px 0 -40px 0;
}

.skill-percentage {
    position: relative;
    bottom: 35%;
    left: 35%;
    font-size: 2em;
    margin: 0;
}
.skill-description {
    text-align: center;
    position: relative;
    bottom:10%;
    font-size: 1.5em;
}

/*** 8. WORK EXPERIENCE ***/
/* Timeline reference: https://www.w3schools.com/howto/howto_css_timeline.asp */
.background-image {
    /* The image used */
    background-image: url("photographer.jpg");
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../photos/mountains.jpg");
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 70%;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: var(--dark-grey);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.timeline-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.timeline-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid var(--dark-grey);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Right */
.timeline-container:nth-child(odd) {
    left: 50%;
}

.timeline-container:nth-child(odd):after {
    left: -16px;
}

/* Left */
.timeline-container:nth-child(even) {
    left: 0;
}

.timeline-content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

/* Add the arrows */
.timeline-container:nth-child(odd)::before,
.timeline-container:nth-child(even)::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    border: medium solid white;
}


.timeline-container:nth-child(odd)::before {
    left: 30px;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

.timeline-container:nth-child(even)::before {
    right: 30px;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/*** FOOTER ***/
footer {
    background-color: var(--dark-grey);
    padding: 20px;
    color: white;
}

footer p {
    margin: 0;
}