/***
This CSS file is for most of the styles on the page except for a few things that I put into
different sheets in order to compatmentalize.

STYLES IN DIFFERENT SHEETS
-fade.css
    Styles that focuse on transitioning text and elements based the location of the page

TABLE OF CONTENTS
1. Reset/default
    1.1 Scrollbar
2. Header
3. Content Containers
    3.1. Content-sections
    3.2. Content-dividers
4. Introduction
5. Projects
6. Languages
***/

/*** 1. RESET AND DEFAULT VALUES ***/
html,
body {
    margin: 0;
    padding: 0;
}

main {
    overflow-x: hidden;
}

:root {
    --header-background-color: #333;
    --divider-offset: 50px;
    --divider-color: #41ade5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

/* 1.1 Scrollbar */
::-webkit-scrollbar {
    /* width */
    width: 15px;
}

::-webkit-scrollbar-track {
    /* Track */
    background-color: var(--divider-color);
}

::-webkit-scrollbar-thumb {
    /* Handle */
    background: var(--header-background-color);
}

::-webkit-scrollbar-thumb:hover {
    /* Handle on hover */
    background: grey;
}

/*** 2. HEADER ***/
header {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    align-items: center;
    padding: 20px 0;
    background-color: var(--header-background-color);
    color: whitesmoke;
}

header>h1:first-child,
header>h1:last-child {
    font-size: 1.5em;
    font-weight: 100;
}

header>div {
    display: flex;
    flex-direction: row;
    font-size: 1.25em;
}

header h1 {
    margin: 0;
}

header>div h1:last-child {
    margin-left: 10px;
}

/*** 3. CONTENT CONTAINERS ***/
/* 3.1 CONTENT SECTIONS */
.content-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

/* 3.2 CONTENT DIVIDERS */
.content-divider {
    background-color: var(--divider-color);
    color: #fff;
    position: relative;
    text-align: center;
    z-index: 1;
    padding: 20px 0;
}

.content-divider h2 {
    margin: 0;
}

/*** 4. INTRODUCTION ***/
#introduction>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

/*** 5. PROJECTS ***/
#projects {
    background-color: var(--divider-color);
}

.vertical-ribbon {
    height: 800px;
    margin: 0;
    transition: 1s;
    border: 1px solid black;
    overflow: hidden;
}

.vertical-ribbon video {
    display: block;
    margin: auto;
    height: 100%;
}

.content-description {
    height: 40%;
    background: linear-gradient(#00000000, #000);
    position: absolute;
    bottom: 0;
    width: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.content-description h3 {
    text-align: center;
}

.content-description p {
    margin: 20px;
}

.make-invisible {
    opacity: 0;
}

/*** 6. LANGUAGES ***/
.languages {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    width: 60%;
    margin: auto;
}

.languages p {
    margin: 0;
}

.content-column {
    width: 50%;
}

.tile-sm {
    height: 300px;
    background-color: lightblue;
}

.tile-lg {
    height: 600px;
    background-color: aquamarine;
}